<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
    <div class="collapse navbar-collapse justify-content-md-center">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="clients">Car <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="clients">Clients <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="car-experts">CarExperts <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="automobiles">Automobiles <span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
