<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeMe()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label>Plate number</label>
            <br />
            <input name="plateNumber" [(ngModel)]="automobile.plateNumber" type="text" value={{automobile.plateNumber}}>
            <!--<br />
            <input name="autoPlateNumber" [(ngModel)]="autoPlateNumber" type="text">-->
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-outline-dark" (click)="sendMe()">Save</button>
</div>