/* HeroesComponent's private CSS styles */
.chatRooms {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
}

.rooms {
    background-color: #F7F7F7;
    width: 30%;
    height: 25em;
    border: medium;
    border-block-color: black;
    border: groove;
    border-width: 1px;
}

.messages {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 70%;
    float: right;
    background-color: aliceblue;
    height: 25em;
}

.chatRooms li {
    cursor: pointer;
    position: relative;
    left: 0;
    color: black;
    background-color: #F6F6F6;
    margin: .5em;
    padding: .3em 0;
    height: 2em;
    border-radius: 4px 0 0 4px;
    border: groove;
    border-width: 1px;
}

.chatRooms .badge {
    display: inline-block;
    font-size: small;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #F6F6F6;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

    .chatRooms li:hover {
        background-color: #ECECEC;
        left: .1em;
    }

    .chatRooms li.selected {
        background-color: #ECECEC;
    }

        .chatRooms li.selected:hover {
            background-color: #ECECEC;
        }

        .chatRooms li.selected:active {
            background-color: #F6F6F6;
            color: black;
            
        }




.chatHeader {
    background-color: #517DA3;
    text-align: center;
}

input {
    padding: .5rem;
}
