$background-color: #F7F7F7;
$list-hover-color: #ECECEC;
$list-active-color: #F6F6F6;
$chat-height: 350px;
$header-color: #517DA3;
$button-color: #3e68ff;
$border-radius: 8px;
$create-button-color:#fff;
