.sendMessage {
    width: 80%;
    position: absolute;
    top: 50%;
}

.chatHeader {
    background-color: #517DA3;
    text-align: center;
}

.userMe {
    float: right;
    margin-right: 5px
}

.userOther {
    margin-left: 5px;
}

.userMeText {
    float: right;
    margin-right: 10px;
}

.userOtherText {
    margin-left: 10px;
}

.messages {
    overflow-y: scroll;
    max-height: 350px;
    min-height: 350px;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.containerMe {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}
.containerOther {
    border: 2px solid #dedede;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
}
.time-right {
    float: right;
    color: #aaa;
}
.time-left {
    float: left;
    color: #999;
}