<div *ngIf="room">
    <h2 class="chatHeader">Messages in {{room.name}}</h2>

    <div class="messages">
        <div *ngFor="let message of messages">
            <div *ngIf="message.userName==='admin@admin.com'; then me; else other"></div>
            <ng-template #me>
                <div class="containerMe">
                    <span class="userMe">{{message.userName}}:</span>
                    <br />
                    <span class="userMeText">{{message.text}}</span>
                    <br />
                    <span class="time-right">{{message.messageTime}}</span>
                    <br />
                </div>
            </ng-template>

            <ng-template #other>
                <div class="containerOther">
                    <span class="userOther">{{message.userName}}:</span>
                    <br />
                    <span class="userOtherText">{{message.text}}</span>
                    <br />
                    <span class="time-left">{{message.messageTime}}</span>
                    <br />
                </div>

            </ng-template>
        </div>
        <div class="sendMessage">
            <input type="text" id="typedText" value={{text}} #message>
            <br />
            <button type="submit" (click)="addMessage(message, room?.roomId)">Send</button>
        </div>
    </div>
</div>

